<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include parciales/headConf %>
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="assets/js/usuarios.js"></script>
    <title><%=titulo%></title>
</head>

<body>
        <% include parciales/navbar %>

    <div id="title">
        <p>Escriba el correo que desea enviar, y esta se enviara a los usuarios presentas en la lista</p>
    </div>

    <div class="row" id="cuerpo">
        <div class="col-sm-6">

            <div id="correo" class="border border-success rounded">
                <h3>Escribir Correo</h3>
                <div class="form-group">
                    <label for="asunto">Asunto:</label>
                    <input type="text" class="form-control" id="txtAsunto">
                </div>

                <div class="form-group">
                    <label for="textoCorreo">Texto Correo:</label>
                    <textarea class="form-control" rows="5" id="txtTextoCorreo"></textarea>
                </div>
                <button type="button" class="btn btn-success" onclick="enviarCorreo ()">Enviar Correo</button>
            </div>

        </div>

        <div class="col-sm-4">
            <div id="listaCorreos">

                <h3>Lista de Correos Registrados</h3>

                    <div class="table-wrapper-scroll-y">

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                          <tbody>
                            </tbody> 
                        </table>

                    </div>

            </div>
        </div>
    </div>

    <% include parciales/footer %>
</body>

</html>