<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{> headConf}}
    <title>{{titulo}}</title>
</head>
<body>
    {{> navbar}}

    <div class="jumbotron">
                <h1 class="display-4">Hola Tu !</h1>
                <p class="lead">Esta es una simple página de información de Jean Karlo Obando Ramos.</p>
                <hr class="my-4">
                <p>Si quieres saber más de este proyecto, te invito a que me sigas en mis redes sociales.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </div>

    {{> footer}}
</body>
</html>