<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{> headConf}}
    <link rel="stylesheet" href="assets/css/registro.css">
    <title>{{titulo}}</title>
</head>

<body>
    {{> navbar}}

    <div id="title">
        <p>Registre el nombre y el correo</p>
    </div>

    <div id="form-registro" class="border border-secondary rounded w-50">
        <form>
            <div class="form-group">
                <label for="exampleInputPassword1" class="w-25">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese Nombre">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="w-25">Correo Electrónico</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Ingrese Email">
            </div>
            <button type="submit" class="btn btn-success">Registrar</button>
            <button type="submit" class="btn btn-primary">Limpiar</button>
        </form>

    </div>

    {{> footer}}
</body>

</html>